
@{
    ViewData["Title"] = "About Application";
}

<h2>@ViewData["Title"]</h2>

<p>
    This application provides the opportunity to easily aquire news from selected sources.
    An account can be created which allows news categories to be added and then select the news sources for each category for further granularity.
</p>

<p>
    All news sources are generously provided through the News API: <a href="https://newsapi.org/#apiSources">https://newsapi.org/#apiSources</a>.
    Any lawsuits brought forth regarding libel or defamement ought be directed to the News API and their sources rather than this platform.
</p>