
@{
    ViewData["Title"] = "Developer: Aaron Barlow";
}

<h2>@ViewData["Title"]</h2>
<br />
<h4>Background</h4>
<p>
    Aaron Barlow is an experienced full stack developer delivering performant,
    well-tested applications with specialized knowledge writing web applications.
    Currently, Aaron is pursing a Bachelor’s in Computer Science from East Tennessee 
    State University and loves to write applications in Ruby, Crystal, and C#.
</p>
<h4>Work</h4>
<p>
    Since the spring of 2015, Aaron has worked at the Oak Ridge National Laboratory as a software developer.
    However, in the summer of 2019, Aaron will be interning at Bank of America in Los Angeles as a global technology analyst.
</p>
<h4>Contact</h4>
<p>
    Private Email: abarlow505@gmail.com
    <br/>
    School Email: barlowat@etsu.edu
</p>

